extends  ./layout
include includes

block title
  title Home

block content
  body
    h1 Пример реализации архитектуры MVP с несколькими View
    div.container
      div.buttons-view
        div.panel
        div.panel__wrapper
          input.addInput(type="text")
          button.addValueButton Добавить элемент
          button.removeFirstValueButton Удалить первый элемент
          button.removeLastValueButton Удалить последний элемент
          button.removeAllValuesButton Очистить панель

      form.radio
        label
          input.radio-btn(type="radio", name="radio-btn", value="addValue")
          | Добавить элемент
        label
          input.radio-btn(type="radio", name="radio-btn", value="removeFirstValue")
          | Удалить первый элемент
        label
          input.radio-btn(type="radio", name="radio-btn", value="removeLastValue")
          | Удалить последний элемент
        label
          input.radio-btn(type="radio", name="radio-btn", value="removeAllValues")
          | Очистить панель
        input.addRadioInput(type="text")

    script(src="index.js")