extends  ./layout
include includes

block title
  title Home

block content
  body
    div.container
      h1 Custom MVP
      div.panel
      input.addInput(type="text")
      button.addButton Добавить элемент
      button.removeFirstValueButton Удалить первый элемент
      button.removeLastValueButton Удалить последний элемент
      button.removeAllValuesButton Очистить панель

    script(src="index.js")